/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.env.docker-compose
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
database/seeders/seeds/*.log
_dbdata/
_postgres_data/
_pgadmin_data/
_secrets/*
composer.lock
